.base-container {
    margin: auto;
    width: 50%;
    padding: 15px;
  }
  
  forget-password-container {
    display: flex;
    flex-direction: column;
  }
  
  .forget-password-container > * {
    width: 100%;
  }
  .forget-password-button-row button,
  .forget-password-button-row a {
    margin:10px;
  }
  