<div class="base-container">
    <p>forget-password works!</p>
    <div class="forget-password-container">
        <mat-form-field>
            <input matInput placeholder="User Name" [formControl]="userNameFormControl"
                [errorStateMatcher]="userNameMatcher">
            <mat-hint>Enter your User Name!</mat-hint>
            <mat-error *ngIf="userNameFormControl.hasError('required')">
                USer Name is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <div class="forget-password-button-row" layout="row" layout-align="center center">
            <button mat-raised-button color="primary">Reset</button>
            <button mat-raised-button color="primary" routerLink="/">Back</button>
        </div>
    </div>
</div>
