<div class="base-container">
    <p>forget-password works!</p>
    <form [formGroup]="forgetUserForm">
        <div class="forget-password-container">
            <mat-form-field>
                <input matInput placeholder="User Name" formControlName="userNameFormControl" />
            </mat-form-field>
            <mat-error *ngIf="
                      !forgetUserForm.get('userNameFormControl').valid &&
                      forgetUserForm.get('userNameFormControl').touched
                  ">
                <strong>Please enter User Name !!!</strong>
            </mat-error>


            <div class="forget-password-button-row">
                <button mat-raised-button color="primary" (click)="onFormSubmit(forgetUserForm)">Reset</button>
                <button mat-raised-button color="primary" routerLink="/">Back</button>
            </div>
        </div>
    </form>
</div>