/* Body Styles */


#site-header {
    position: relative;
    z-index: 3;
    
}

header { min-height: 75px; }

.eb-logo {
    float: left;
}

  header.dark blockquote { color:#fff; }
  header.light blockquote { color:#000; }
  
 
  
  header.dark { background-color: #E53044; }
  header.light { background-color: #fff; }
  
  /* Navigation Styles */
  nav { position: relative;  }
  
  