<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

  <ul class="navbar-nav ml-auto">

    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Fota Initiator
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" routerLink="./fileupload/fileuploadscreen">Upload New</a>
        <a class="dropdown-item" routerLink="./viewupload">View Uploads</a>

      </div>
    </li>
   <!-- <li class="nav-item">
      <a class="nav-link" routerLink="./uploadinbox">View Status</a>
    </li>-->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Status
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" routerLink="/activitystatusadmin">Activity Status</a>
        <a class="dropdown-item" routerLink="/flashingstatus">Flashing Status</a>
        <a class="dropdown-item" routerLink="/activitystatusadmin">overallstatusscreen</a>
       

      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/viewimei">IMEI</a>
    </li>
   

  </ul>
</nav>
<div class="clear-fix"></div>