.modal-dialog{
    top:100px;
}

.modal{
    display: block !important; z-index: 2000 !important;
}
#checkboxLabel{
    margin-right: 10px;
}
#new_training{
    margin-bottom: 10px;
}

.mat-form-field-infix {
    display: block;
    position: relative;
    flex: auto;
    min-width: 0;
}
    

.demo-full-width{
    width: 100% !important;
}
