<div class="fota-heading">
    <h4>File Upload Screen</h4>
  </div>
<div class="fota-content">    
  <form [formGroup]="fileUploadForm" ng2FileDrop [uploader]="uploader">
    <div class="row">
      <div class="column-1">
        <mat-form-field>
          <mat-label>Applicable Segment</mat-label>
          <mat-select required formControlName="ApplicableSegmentsFormControl">
            <mat-option *ngFor="let ApplicableSegment of ApplicableSegments" [value]="ApplicableSegment.value">
              {{ ApplicableSegment.value }}
            </mat-option>
          </mat-select>
          <mat-error>
            <span *ngIf="
              !fileUploadForm.get('ApplicableSegmentsFormControl').valid &&
              fileUploadForm.get('ApplicableSegmentsFormControl').touched
            ">Please enter user Name !!!</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="column-1">
        <mat-form-field>
          <mat-label>Applicable Variant</mat-label>
          <mat-select multiple required formControlName="ApplicableVariantFormControl">
            <mat-option *ngFor="let ApplicableVariant of ApplicableVariants" [value]="ApplicableVariant.value">
              {{ ApplicableVariant.value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="column-1">
        <mat-form-field>
          <mat-label>Applicable Sub-Variant</mat-label>
          <mat-select multiple required formControlName="ApplicableSubVariantFormControl">
            <mat-option *ngFor="let ApplicableSubVariant of ApplicableSubVariants" [value]="ApplicableSubVariant.value">
              {{ ApplicableSubVariant.value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="column-1">
        <mat-form-field>
          <mat-label>FW Type</mat-label>
          <mat-select required formControlName="FWTypeFormControl">
            <mat-option *ngFor="let FWType of FWTypes" [value]="FWType.value">
              {{ FWType.value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="column-1">
        <mat-form-field>
          <mat-label>CCU Variant</mat-label>
          <mat-select required formControlName="CCUVariantFormControl">
            <mat-option *ngFor="let CCUVariant of CCUVariants" [value]="CCUVariant.value">
              {{ CCUVariant.value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="column-2">
        <mat-form-field>
          <textarea matInput placeholder="Remarks" rows="1" fromControlName="remarksFormControl"></textarea>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="column-2">
        <mat-form-field>
          <input matInput placeholder="Assign Name" formControlName="AassignNameFormControl" />
        </mat-form-field>
        <mat-error>
          <span *ngIf="
              !fileUploadForm.get('AassignNameFormControl').valid &&
              fileUploadForm.get('AassignNameFormControl').touched
            ">Please enter Assign Name !!!</span>
        </mat-error>
      </div>
      <div class="column-1 mat-checkbox">
        <mat-checkbox>MULTI PACKET</mat-checkbox>
      </div>
    </div>
    <input formControlName="fileFormControl" type="file" ng2FileSelect [uploader]="uploader" multiple required
      class="margin-fix" /><br />
    <br>
    <table *ngIf="uploader.queue.length > 0  ">
      <thead>
        <tr>
          <th width="90%">
            File Name
          </th>
          <th width="10%">
            Remove
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of uploader.queue">
          <th width="90%">
            {{item._file.name}}
          </th>
          <th class="text-center" width="10%">
            <mat-icon (click)="item.remove()">delete</mat-icon>
          </th>
        </tr>
      </tbody>
    </table>
    <div class="center">
      <button mat-raised-button color="primary" type="submit" (click)=uploadSubmit()>Upload Data</button>
    </div>
  </form>
</div>