.base-container {
   
   background-image: url('../../assets/desktop-banner-1440x613px.jpg') !important;
   float:left;
   width:100%;
   height: 100%;
   position: absolute;    
    
  }
  
  .login-container {
    background: #a09d9d;
    border: 3px solid #e31837;
    padding:10px;
    margin: 0;
    position: relative; 
    width:50%;
    border-radius: 25px;
    
    
    -ms-transform: translate(50%,50%);
    transform: translate(50%, 90%);
    }
    
    .login-container > * {
      width: 100%;
    }
    
  .login-button-row button,
  .login-button-row a {
    margin:auto;
    display:block;
  }
  
  .row {
    margin: 2%;
    display: flex;
  }
  
  .column {
    flex: 50%;
  }

  a {
    text-decoration: underline;
    margin-right: 30px;
    color: rgb(63, 81, 181);
}
 