<div class="base-container">
  <p>login works!</p>
  <div class="login-container">
    <mat-form-field>
      <input matInput placeholder="User Name" [formControl]="userNameFormControl" [errorStateMatcher]="userNameMatcher">
      <mat-hint>Enter your User Name!</mat-hint>
      <mat-error *ngIf="userNameFormControl.hasError('required')">
        User Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Password" [formControl]="passwordFormControl" [errorStateMatcher]="passwordMatcher">
      <mat-hint>Enter your Password!</mat-hint>
      <mat-error *ngIf="passwordFormControl.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <div class="row">
      <div class="column">
        <mat-checkbox>Remember Me</mat-checkbox>
      </div>
      <div>
        <a float routerLink="login/forget-password/" color="primary">Forget Password?</a>
      </div>
    </div>
    <div class="main-div">
      <div class="login-button-row">
        <button mat-raised-button color="primary" routerLink="/inithome">Log in </button>
      </div>
    </div>
  </div>
</div>
