<div class="fota-heading">
    <h4>File Upload Screen</h4>
</div>
<div class="fota-content">
    <form [formGroup]="flashinginitForm">
        <div class="row">
            <div class="column-1">
                <mat-form-field>
                    <mat-label>FW Type</mat-label>
                    <mat-select required formControlName="FWTypeFormControl">
                        <mat-option *ngFor="let FWType of FWTypes" [value]="FWType.value">
                            {{ FWType.value }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="column-1">
                <mat-form-field>
                    <mat-label>FW/FilenameType</mat-label>
                    <mat-select required formControlName="FW_FilenameFormControl">
                        <mat-option *ngFor="let FW_Filename of FW_Filenames" [value]="FW_Filename.value">
                            {{ FW_Filename.value }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="column-2">
                <mat-form-field>
                    <mat-label>Platform</mat-label>
                    <mat-select multiple required formControlName="PaltformFormControl">
                        <mat-option *ngFor="let Paltform of Paltforms" [value]="Paltform.value">
                            {{ Paltform.value }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="column-2">
                <mat-form-field>
                    <mat-label>IMEI</mat-label>
                    <mat-select multiple required formControlName="IMEIFormControl">
                        <mat-option #allSelected (click)="toggleAllSelection()" [value]="0">Select All</mat-option>
                        <mat-option *ngFor="let IMEI of IMEIs" [value]="IMEI.value">
                            {{ IMEI.value }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="column-3">
                <mat-form-field>
                    <input matInput placeholder="Reason for Initiation" formControlName="ReasonFormControl" />
                </mat-form-field>
                <mat-error>
                    <span *ngIf="
                  !flashinginitForm.get('ReasonFormControl').valid &&
                  flashinginitForm.get('ReasonFormControl').touched
                ">Reason for Initiation!!!</span>
                </mat-error>
            </div>
        </div>
        <div class="center">
            <button mat-raised-button color="primary" type="submit" (click)=Initate()>Initate</button>
        </div>
    </form>
</div>