
<div class="row">
  <div class="column">
    <mat-card class="example-card">
        <i class="fas fa-cloud-download-alt fa-10x" alt="Download"></i>
      <mat-card-actions>
        <button mat-raised-button color="primary">Initate FOTA</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="column">
    <mat-card class="example-card">
        <i class="fas fa-cloud-upload-alt fa-10x" alt="Upload"></i>
      <mat-card-actions>
        <button mat-raised-button color="primary" routerLink="./fileupload" routerLinkActive="router-link-active" >Upload File</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="column">
    <mat-card class="example-card">
        <i class="fas fa-file-invoice fa-10x" alt="status"></i>
      <mat-card-actions>
        <button mat-raised-button color="primary">Status</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
