<p>inithome works!</p>
<div class="row">
  <div class="column">
    <mat-card class="example-card">
      <img mat-card-image src="assets/download.png" alt="download">
      <mat-card-actions>
        <button mat-raised-button color="primary">Initate FOTA</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="column">
    <mat-card class="example-card">
      <img mat-card-image src="assets/upload.png" alt="upload">
      <mat-card-actions>
        <button mat-raised-button color="primary" routerLink="/fileupload" routerLinkActive="router-link-active" >Upload File</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="column">
    <mat-card class="example-card">
      <img mat-card-image src="assets/status.png" alt="status">
      <mat-card-actions>
        <button mat-raised-button color="primary">Status</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
